
/*------------- General -------------*/

:root {
  --checkbox-size: 2rem;
  --input-height: 2rem;
  --t: 0.2s;
  --c1: white;
  --c2: #aaa;
  --v1: #d3d3d3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;

}

/*------------- Header SK -------------*/

header{
  margin-top: 40px;
  display: flex;
  justify-self: center;
  flex-direction: column-reverse;
  width: 100%;
}

h1{
  align-self: flex-end;
  font-size: 20px;
  font-family: 'Ubuntu',sans-serif;
  font-weight: regular;
}

h2{
  align-self: flex-start;
  font-size: 40px;
  font-family: 'Ubuntu',sans-serif;
  font-weight: regular;
}

h1:before{
  content: "<";
  color: red;
  font-size: 20px;
}

h1:after{
  content: "/>";
  color: red;
  font-size: 20px;
}

h2:before{
  content: "<";
  color: red;
  font-size: 40px;
}

h2:after{
  content: "/>";
  color: red;
  font-size: 40px;
}

hr {
  color: black;
  height: 1px;
  border: solid #000000 0.5px;
}

/*------------- Done Checkbox -------------*/

.checkbox {
  overflow: visible;
  position: relative;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  transition: all .2s;
}

.checkbox__wrapper:hover>.checkbox {
  transform: scale(.94);
  cursor: pointer;
}

.checkbox__circle {
  position: absolute;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  transition: all var(--t);
}

.checkbox__circle--outer {
  filter: blur((var(--checkbox-size) / 6));
}

.checkbox__circle--inner {
  transition: all 3s;
  opacity: 0;
  font-size: 1.8rem;
  font-family: 'Ubuntu',sans-serif;
  color: red;
}

.item:not(.done) .checkbox__circle--outer {
  transform: scale(1);
  filter: blur(0px);
}

.item:not(.done) .checkbox__circle--inner {
  opacity: 1;
  background-color: var(--c1);
  filter: blur((-var(--checkbox-size) / 8));
}

/*------------- Input ToDo -------------*/

.input__wrapper{
  width: 100%;
}

.item {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-top: 1rem;
}

.item.done {
  transition: all var(--t);
  filter: blur(2px);
}

input {
  height: var(--input-height);
  font-size: 1.6rem;
  width: 100%;
}

/*------------- Delete Button -------------*/

.box{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.box-left {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #e74c3c;
  margin: auto;
  cursor: pointer;
  border-radius: 10px;

}

.fa-times {
  margin-top: 7px;
  margin-left: 8px;
  font-size: 20px !important;
  color: #fff;
}

 /*------------- Priority Select -------------*/
.semi-square {
   border-radius: 3px;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 90%;
   height: 1.9rem;
   overflow: hidden;
   width: 50px;
}

select{
    -webkit-appearance: none;
    margin-left: 2px;
    appearance: none;
    padding: 3px;
    font-weight: bolder;
    font-size: 18px;
    color: red;
}
